# Sealights Configuration
# Required Environment Variables

# Your Sealights agent token (required)
SL_TOKEN = params.SL_TOKEN

# Unique identifier for the build session (required)
#SL_BUILD_SESSION_ID=your_build_session_id_here

# The current testing stage (required)
SL_TEST_STAGE = "Playwright Tests"

# Optional Environment Variables

# Identifier for the lab environment
SL_LAB_ID= "integ_main_Boutique"

# Proxy settings (if needed)
# SL_PROXY=http://proxy.company.com:8080

# URL for the data collector (if using custom collector)
# SL_COLLECTOR_URL=https://your-collector-url.com

# Disable Test Impact Analysis (TIA) recommendations and test skipping
# SL_TIA_DISABLED=false

# Disable the plugin entirely (keeps fixtures in place without errors)
# SL_DISABLE=false

# Application Configuration
MACHINE_DNS=http://internal-ian.btq.sealights.co:8081
machine_dns=http://internal-ian.btq.sealights.co:8081
